<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Enter your login credentials</h3>
    <form action="" method="post">
      <label> Username: </label>
      <input type="text" name="username" 
              placeholder="Enter your Username" required><br>
      <label> Password: </label>
      <input type="password" name="password"
              placeholder="Enter your Password" required><br>
      <button type="submit"> Login </button>
    </form>
  </body>
</html>
