<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- Display the products table -->
    <%- products_table %>
    <a href="/logout">Logout</a>
  </body>
</html>
